@use "helpers/helpers-dir" as *;
@use "sass:color";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: "Raleway", serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  display: block;
}

.active {
  background-color: $secondary-color;

  &:hover {
    background-color: color.adjust($secondary-color, $lightness: -50%);
  }
}

.divider {
  border-radius: 0.25rem;
  border: 0.025rem solid $primary-color;
  color: $primary-color;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

.btn {
  background: transparent;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  color: $primary-color;
  font-weight: 600;
  padding: 0.7rem 1.2rem;

  &:hover {
    background-color: $primary-color;
    color: $background-color;
    cursor: pointer;
  }

  &--active {
    background-color: $primary-color;
    color: $background-color;
  }
}
